.header
  margin: 45px 0
  &__container
    display: flex
    align-items: center
  &__phone
    font-size: rem(20)
    color: var(--orange)
    padding: 20px
    border: 1px solid var(--orange)
.logo
  font-size: rem(44)
  font-weight: 800
  letter-spacing: -1.85714px
  color: var(--black)
.menu
  flex-grow: 1
  margin-left: 70px
  margin-right: 20px
  &__list
    display: flex
    align-items: center
    gap: 60px
  &__link
    font-weight: 800
    text-transform: uppercase