.about
  &__container
  &__wrapper-top
    display: flex
    justify-content: space-between
    min-width: 0
    @media(max-width: em(992))
      justify-content: center
      flex-wrap: wrap
      gap: 20px
  &__block-text
    display: flex
    justify-content: center
    flex-direction: column
    flex-basis: 519px
    margin-right: 20px
    gap: 32px
    @media(max-width: em(992))
      align-items: center
      text-align: center
      flex-basis: auto
      margin-right: 0
  &__text
    font-weight: 700
    line-height: 1.5
    text-transform: uppercase
    color: var(--sgray)
  &__title
    font-size: rem(48)
    font-weight: 700
    letter-spacing: -1.85714px
    line-height: 1.25
    color: var(--black)
    @media(max-width: em(1024))
      font-size: rem(42)
    @media(max-width: em(425))
      font-size: rem(32)
  &-slider 
    width: prc(788, 1320)
    height: prc(493, 1320)
    margin-right: -70px
    @media(max-width: em(1440))
      margin-right: 0
    @media(max-width: em(992))
      width: prc(1188, 1320)
      height: prc(793, 1320)
    &__slide
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__pagination
      left: 30px
      bottom: 30px
      @media(max-width: em(425))
        left: 15px
        bottom: 15px
    .swiper-pagination-bullet
      width: 100px
      height: 4px
      margin: 0 4px
      background: var(--white)
      @media(max-width: em(425))
        width: 50px
      &.swiper-pagination-bullet-active
        background: var(--orange)
  &__items
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(440px,1fr))
    column-gap: 25px
    margin-top: 60px
    @media(max-width: em(425))
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
  &__item
    @include responsive('padding', 28, 10, 0)
    background: #fbfbfb
    font-size: rem(22)
    @media(max-width: em(1024))
      font-size: rem(20)
    @media(max-width: em(425))
      font-size: rem(18)
    &-text
      margin-left: 32px
      @media(max-width: em(425))
        margin-left: 0
    &-title
      font-size: rem(32)
      font-weight: 700
      color: #151515
      @media(max-width: em(1024))
        font-size: rem(28)
      @media(max-width: em(425))
        font-size: rem(26)
    &-subtitle
      margin-top: 8px
  &__block-top
    display: flex
    @media(max-width: em(425))
      flex-wrap: wrap
      justify-content: center
      text-align: center
  &__list
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr))
    margin-top: 34px
    gap: 35px 40px
    @media(max-width: em(768))
      gap: 15px
    &-item
      display: flex
      align-items: center
      &>.checked
        margin-right: 16px
  &__block-bottom
    margin-top: 34px
    line-height: 1.5
    &>.scale
      margin: 0 15px