footer.footer
  .footer__container
    .footer__logo.logo LOGO 
    nav.footer__menu 
      ul.footer__menu-list
        li.footer__menu-item 
          a.footer__menu-link(href="#services") Услуги
        li.footer__menu-item 
          a.footer__menu-link(href="#") Доставка
        li.footer__menu-item 
          a.footer__menu-link(href="#") Применение
        li.footer__menu-item 
          a.footer__menu-link(href="#contacts") Контакты
    a.footer__copyright(href="#") ООО ПК «АвтоПак», Челябинск, 2021. Все права защищены.

