footer.footer
  .footer__container
    .footer__logo.logo
      img(src='@img/logo-footer.png' alt='Логотип' width='250')
    nav.footer__menu 
      ul.footer__menu-list
        li.footer__menu-item 
          a.footer__menu-link(href="#services") Услуги
        li.footer__menu-item 
          a.footer__menu-link(href="#delivery") Доставка
        li.footer__menu-item 
          a.footer__menu-link(href="#") Применение
        li.footer__menu-item 
          a.footer__menu-link(href="#contacts") Контакты