header.header
  .header__container 
    .logo
      img(src='@img/logo-header.jpg' alt='Логотип' width='180')
    nav.menu 
      ul.menu__list
        li.menu__item 
          a.menu__link(href="#services") Услуги
        li.menu__item 
          a.menu__link(href="#company") о компании
        li.menu__item 
          a.menu__link(href="#contacts") Контакты
        li.menu__item 
          a.menu__link(href="#") Доставка
    a.header__phone(href="tel:+79999999999") +7 (999) 999-99-99
    button.burger 
      span
      span
      span
