header.header
  .header__container 
    .logo LOGO 
    nav.menu 
      ul.menu__list(data-da='.menu-mobile,992') 
        li.menu__item 
          a.menu__link(href="#") Услуги
        li.menu__item 
          a.menu__link(href="#") о компании
        li.menu__item 
          a.menu__link(href="#") Контакты
        li.menu__item 
          a.menu__link(href="#") Доставка
    a.header__phone(href="tel:+79999999999") +7 (999) 999-99-99
    button.burger 
      span
      span
      span
