section.company#company
  .company__container 
    h2.company__title О компании
    .company__content 
      .company__img 
        img(src='@img/about-slider/2.jpg', alt='Компания',)
      .company__block-text 
        p.company__text Производственная Компания ООО ПК «АвтоПак» — специализирующаяся на производстве комбинированных материалов из бумаги и полиэтилена, использующихся в качестве упаковки в процессе производства и транспортировки готовой продукции.
        p.company__text Наша компания работает с июня 2007 года, и за этот небольшой срок мы успели завоевать доверие наших клиентов.
        p.company__text 
          |Грамотно построенная служба логистики позволяет нам осуществлять доставку продукции по всей России, в страны СНГ и Европы, а также 
          |Контейнерные отправки
          | в станы дольнего зарубежья. Современное оборудование, используемое в производстве, позволяет вам быть уверенными в качестве нашей продукции.
    iframe(src='https://www.youtube.com/embed/5Ix1jg3eNP8' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')