section.delivery#delivery
  .delivery__container
    h2.delivery__title Доставляем в любую точку планеты
    .delivery__map
      .delivery__location.delivery__location_china
        .delivery__gps 
          +svg('gps', '40', '55', 'currentColor', 'none')
        .delivery__location-tooltip Китай