:root
  --white: #fff
  --black: #000
  --gray: #5E5E5E
  --sgray: #9E9E9E
  --orange: #FF9700
body
  font-family: "Montserrat", sans-serif
  font-size: rem(16)
  font-weight: 400
  line-height: 1
  background: var(--white)
  color: var(--gray)
body.lock
  overflow: hidden
a
  transition: .3s
._wrapper
  position: relative
  display: flex
  flex-direction: column
  overflow: hidden
  min-height: 100%
.main
  flex: 1 1 auto
[class*=__container]
  @include container("1320px", "10px")

h2
  position: relative
  font-size: rem(32)
  font-weight: 600
  color: var(--black)
  width: 100%
  padding-bottom: 24px
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    z-index: 1
    background: var(--orange)
    width: 76px
    height: 3px
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 0
    background: #ECEDE7
    height: 2px

// Фокус с помощью клавиатуры
.js-focus-visible :focus-visible
  outline: -webkit-focus-ring-color auto 1px
.js-focus-visible :focus:not(.focus-visible)
  outline: none

@include burger(35, 20, 992)

.btn-submit
  display: block
  width: fit-content
  font-weight: 600
  padding: 20px 25px
  color: var(--white)!important
  background: var(--orange)
  &>.arrow
    margin-left: 10px
